<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl as phonelist">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery: {{query}}</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>

  <div class="col-md-2">
    <!--Sidebar content-->
    Search: <input ng-model="query">
  </div>

  <div class="col-md-10">
    <ul>
      <li ng-repeat="phone in phonelist.phones | filter:query">
	<span>{{phone.name}}</span>
	<p>{{phone.snippet}}</p>
      </li>
    </ul>
  </div>

</body>
</html>
